<div class="main__menu" id="main_menu">
    <h2>TUS OPERACIONES</h2>
    <div class="menu__side" id="menu">
    <!--
        <div class="side__item" *ngFor="let item of ListaMenu">
            <h3><img loading="lazy" [attr.src]="item.Icono" alt="icon doc"> {{item.NombreServicio}}</h3>
            <ul>
                <li *ngFor="let subitem of item.Detalle">
                  <a [id]="'div'+subitem.IdServicio" [name]="'div'+subitem.IdServicio" 
                  *ngIf="subitem.IsExterno != 'SI'" 
                  [class]="(navigationId == subitem.IdServicio || (subitem.Url == '/aportante/ver-aportes' && navigationId == null ) || (subitem.Url == '/pensionista/ver-datos' && navigationId == null)) ? 'activa' : ''"  
                  style="cursor: pointer;" (click)="navigate(subitem.Url!,subitem.IdServicio+'')"  >{{subitem.NombreServicio}}</a>
                  <a  *ngIf="subitem.IsExterno == 'SI'" 
                  style="cursor: pointer;" [attr.href]="subitem.Url" target="_black" >{{subitem.NombreServicio}}</a>
                </li>                
            </ul>
        </div> -->

        <div  class="side__item__resum" *ngFor="let itemPrinc of ListaMenuPrincipal; let indx = index" >
            <h3 class="title_item" *ngIf="itemPrinc.NombrePerfil" (click)="MostrarOpciones('div'+indx)" ><img   loading="lazy" src="~/../assets/images/icon-menu.svg" alt="icon doc">
                {{itemPrinc.NombrePerfil}} </h3>
            <div [id]="'div'+indx" [className]="indx == 0 ? 'grup-menu hidden displays' : 'grup-menu hidden'">
                    <div class="side__item" *ngFor="let item of itemPrinc.ListaMenu">
                        <h3><img loading="lazy" [attr.src]="item.Icono" alt="icon doc"> {{item.NombreServicio}}</h3>
                        <ul>
                            <li *ngFor="let subitem of item.Detalle">
                              <a [id]="'div'+subitem.IdServicio" [name]="'div'+subitem.IdServicio" 
                              *ngIf="subitem.IsExterno != 'SI'" 
                              [class]="(navigationId == subitem.IdServicio || (subitem.Url == '/aportante/ver-aportes' && navigationId == null ) || (subitem.Url == '/pensionista/boletas-pago' && navigationId == null)) ? 'activa' : ''"  
                              style="cursor: pointer;" (click)="navigate(subitem.Url!,subitem.IdServicio+'')"  >{{subitem.NombreServicio}}</a>
                              <a  *ngIf="subitem.IsExterno == 'SI'" 
                              style="cursor: pointer;" [attr.href]="subitem.Url" target="_black" >{{subitem.NombreServicio}}</a>
                            </li>                
                        </ul>
                    </div>  
                </div>
        
        </div>
        
      <!--
        <div  class="side__item__resum"  >
            <h3 (click)="MostrarOpciones('DDsssDD')" >
                <img   loading="lazy" src="~/../assets/images/icon-menu.svg" alt="icon doc">Cobro Pensión</h3>
                <div  id="DDsssDD" class="grup-menu hidden" >
                    <div class="side__item" *ngFor="let item of ListaMenu">
                        <h3><img loading="lazy" [attr.src]="item.Icono" alt="icon doc"> {{item.NombreServicio}}</h3>
                        <ul>
                            <li *ngFor="let subitem of item.Detalle">
                              <a [id]="'div'+subitem.IdServicio" [name]="'div'+subitem.IdServicio" 
                              *ngIf="subitem.IsExterno != 'SI'" 
                              [class]="(navigationId == subitem.IdServicio || (subitem.Url == '/aportante/ver-aportes' && navigationId == null ) || (subitem.Url == '/pensionista/ver-datos' && navigationId == null)) ? 'activa' : ''"  
                              style="cursor: pointer;" (click)="navigate(subitem.Url!,subitem.IdServicio+'')"  >{{subitem.NombreServicio}}</a>
                              <a  *ngIf="subitem.IsExterno == 'SI'" 
                              style="cursor: pointer;" [attr.href]="subitem.Url" target="_black" >{{subitem.NombreServicio}}</a>
                            </li>                
                        </ul>
                    </div>  
                </div>
        </div>-->
        
        
    </div>
</div>

