/* -----------------------------------------
Project: ONP Zona Segura
Date: 25/06/2021
@jdevsoldier
------------------------------------------*/

/* ********** CUSTOM FONTS ********* */
@font-face {
    font-family: 'Helvetica Light';
    src: url('../src/assets/css/fonts/helvetica_light.woff2') format('woff2'),
         url('../src/assets/css/fonts/helvetica_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Bold';
    src: url('../src/assets/css/fonts/helvetica_bold.woff2') format('woff2'),
         url('../src/assets/css/fonts/helvetica_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ********** CUSTOM PROPERTIES ********* */
:root {
    --first-color: #618786;
    --second-color: #141B4D;
    --third-color: #628786;
    --light-color: #EBEBEB;
    --white-color: #ffffff;
    --orange-color: #FBB03B;
    --white-alpha-color: rgba(255, 255, 255, 0.2);
    --black-color: #000000;
    --text-color: #4D4D4D;
    --title-color: var(--second-color);
    --webfont: 'Helvetica', Arial, sans-serif;
    --webfont-light: 'Helvetica Light', Arial, sans-serif;
    --webfont-bold: 'Helvetica Bold', Arial, sans-serif;
    --max-width: 1200px;
    --text-xs: 0.7rem;
    --text-sm: 0.9rem;
    --text-md: 1rem;
    --text-lg: 1.5rem;
    --text-xl: 2.5rem;
    --text-xxl: 4rem;
    --animate-delay: 0.5s;
}


/* ********** RESET ********* */
html {
    box-sizing: border-box;
    font-family: var(--webfont);
    font-size: 16px;
    scroll-behavior: smooth;
}

*, 
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--webfont);
    overflow-x: hidden; 
    color: var(--text-color);
}

a {
    text-decoration: none;
    transition: 0.5s all;
}


/* ********** COMPONENTS ********* */
/* Buttons */
.bton {
    border: 0;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--white-color);
    cursor: pointer;
}
.text__right {
    text-align: right !important;
}
.bton-first {
    background: var(--first-color);
    transition: .5s ease-in-out;
}

.bton-first:hover {
    background: var(--second-color);
}

.bton-second {
    background: rgb(20,27,77);
    background: linear-gradient( 90deg, rgba(20,27,77,1) 0%, rgba(102,175,172,1) 100%);
    color: var(--white-color);
    transition: background .5s ease-out;
    padding: 0.4rem 1.4rem;
}

.bton-second:hover {
    background: linear-gradient( -90deg, rgba(20,27,77,1) 0%, rgba(102,175,172,1) 100%);
    color: var(--white-color);
    text-decoration: none;
}
.bton-third {
    padding: 0.4rem 1.4rem;
    background: #b3b3b3;  
}
.bton-third:hover {
    color: var(--white-color);
    text-decoration: none;
}
.modal-content{
    border: 0px !important;
}
/* Popup Zona */
.popup__wrapper {
    max-width: 100%;
}

.zona__popup {
    border-radius: 1rem;
    color: var(--second-color);
    margin: 1.75rem auto;
}

.zona__popup .modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.1rem 2.5rem;
    border-bottom: 0;
    box-shadow: 0 2px 4px rgb(0,0,0, 0.25);
}

.zona__popup .modal-header img {
    width: 21px;
    height: 21px;
    margin-right: 0.7rem;
}

.zona__popup .modal-header h5 {
    color: var(--second-color);
    font-size: 1rem;
    font-weight: bold;
}

.zona__popup .modal-body {
    text-align: center;
    padding: 2.5rem 2rem;
}

.zona__popup .modal-body img {
    margin-bottom: 1.2rem;
}

.zona__popup .modal-body p {
    /*font-size: 0.9rem;*/
    font-size: 1.5rem;
    padding: 0 1.5rem 1rem;
    line-height: 1.1;
}

.zona__popup .modal-body .bton-second,.zona__popup .modal-body .bton-third {
    padding: 0.6rem 2.7rem;
}

.cabecera-alerta{
    background-color: #B3B3B3;
    padding: 0.4rem;
    border-bottom: 1px solid black;
    text-align: center !important;
}

@media screen and (min-width: 768px) {

    .popup__wrapper {
        max-width: 650px;
    }
    
    .zona__popup .modal-body {
        /*padding: 4rem 8rem 3rem;*/
        padding: 4rem 4rem 3rem;
    }
    
    .zona__popup .modal-body img {
        margin-bottom: 1.5rem;
    }
    
    .zona__popup .modal-body p {
        /*padding: 0 3rem 1rem;*/
    }
}
@media screen and (min-width: 1224px) {
    .popup__wrapper {
        max-width: 800px;
    }
}

/* ********** UTILITIES ********* */
.text-yellow {
    color: #FFAA1C;
}

.d-movil {
    display: block;
}

.d-desktop {
    display: none;
}

.text-md {
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {

    .d-movil {
        display: none;
    }
    
    .d-desktop {
        display: block;
    }
}


/* ********** SITE ********* */
/* Header */
.zone {
    background-image: url(../src/assets/images/bg_zona_segura_movil.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 130%;
    position: relative;
}

.zone__login {
    padding: 0 0.8rem;
    max-width: 375px;
    margin-inline: auto;
}

.login__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 2.5rem;
}

.header__left {
    text-align: left;
}

.header__left .logo {
    width: 90%;
}

.header__right {
    text-align: right;
    position: relative;
}

.header__right label {
    font-size: 1rem;
    color: var(--white-color);
}

.menu__desktop ul {
    position: absolute;
    top: -850%;
    right: 0;
    box-shadow: 0px 0px 12px rgba(0,0,0, 0.4);
    /*max-width: 160px;*/
    z-index: 999;
}

.main,
.wrapper__content {
    color: var(--first-color);
    background: var(--white-color);
    border-radius: 0.9rem;
    box-shadow: 0px 0px 8px rgba(0,0,0, 0.25);
    text-align: center;
    padding: 2rem 1.5rem;
}

.alert__message {
    /*display: flex;
    justify-content: space-between;
    padding: 0 0 1rem;*/
    display: grid;
    grid-template-columns: 25% 75%;
    
    padding: 1rem 2rem 1rem;
    color: var(--text-color);
    text-align: left;
    border-bottom: 1px solid var(--first-color);
    margin-bottom: 1.8rem;
}

.color-p{
    color: red;
}
.alert__info{
    font-size: 1rem !important;
}
.alert__message img {
    margin-right: 0.5rem;
    float: left;
    width: 32px;
    height: 32px;
}

.alert__message p {
    font-size: 0.76rem;
    line-height: 1.3;
    margin-bottom: 0.15rem;
}

/* Páginas Internas */
.header__content {
    display: grid;
    grid-template-columns: 19% 82%;
    justify-content: flex-start;
    color: var(--white-color);
    padding: 1.8rem 1.1rem 0;
}

.header__content .header__left {
    display: flex;
    align-items: center;
}

.header__content .header__left .btn-menu {
    width: 30px;
    height: 30px;
}

.header__content .header__left .logo {
    width: 100px;
    margin-left: 1.5rem;
}

.header__content .header__right {
    display: flex;
    justify-content: space-between;
}

.header__content .header__right ul {
    list-style: none;
    background: var(--white-color);
    margin: 0;
    padding: 0;
    border-radius: 1rem;
    text-align: left;
}

.header__content .header__right ul li:first-child {
    border-bottom: 1px solid #eee;
}

.header__content .header__right ul li a {
    display: block;
    color: var(--text-color);
    padding: 0.1rem 2.5rem 0.1rem 1.3rem;
    text-decoration: none;
    font-size: var(--text-sm);
}

.header__content .header__right ul li a:hover {
    background: rgba(0,0,0, .2);
}

.header__content .header__right img {
    width: 35px;
}

.header__content p {
    margin-top: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    grid-column: span 2;
    line-height: 1;
}

/* Content page */
.main__menu {
    display: none;
}

.main {
    margin: 0 1.1rem 1.8rem;
    padding: 2rem 0 1rem;
    color: var(--text-color);
}

.main__right {
    text-align: left;
    background: white;
}
.main__right h2 a {
    text-decoration:none;
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--second-color);
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
}
.main__right h2,
.main__menu h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--second-color);
    padding: 0 1.4rem 2rem;
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.main__right h2 img {
    width: 20px;
    margin-right: 1rem;
}

.detail {
    padding: 1.5rem 1rem 0;
    color: var(--black-color);
}

.detail__user {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    margin-bottom: 1rem;
}

.user__info {
    display: flex;
}

.user__info img {
    width: 26px;
    margin-right: 1rem;
}

.user__info p {
    margin: 0;
    color: var(--black-color);
    line-height: 1.4;
    font-weight: 500;
}

.info__print {
    text-align: right;
}

.info__print img {
    width: 50px;
}

.info__print .bton-second {
    display: none;
}

.date__publish {
    margin-bottom: 1rem;
}

.detail__page {
    text-align: justify;
}

.detail__page h3 {
    color: var(--first-color);
    font-size: 1rem;
    font-weight: bold;
}

.detail__page p {
    font-size: 0.84rem;
    line-height: 1;
}

.detail__page--big p:first-child {
    font-size: 1rem;
}

.date__publish p {
    margin: 0;
    line-height: 1.3;
    font-size: 0.8rem;
}

.detail__page ul {
    padding: 0 0 0 1rem;
    font-size: 0.82rem;
    line-height: 1;
}

.detail__page ul li {
    margin-bottom: 1.2rem;
}

.detail__page ul li:first-child {
    color: var(--first-color);
    font-weight: 600;
}

.label-policy {
    font-size: 0.8rem;
    line-height: 1;
    padding: 0.2rem 0 1rem;
}

.custom-control {
    padding-left: 2rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FFAA1C;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 170, 28, 0.25)
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}

.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #E2EBED; 
}
.custom-control-label:after, .custom-control-label:before { 
    width: 1.2rem;
    height: 1.2rem; 
}
.custom-control-label:before { 
    border: 2px solid #618685;
}
.title__form {
    margin: 1.5rem 0 1rem;    
}

.cronograma {
    margin: 1rem 0;
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding-bottom: 2rem;
}

.wrapper__form {
    text-align: left;
}

.wrapper__form .form-row div {
    margin-bottom: 0.8rem;
}

.wrapper__form label {
    font-size: 0.82rem;
    line-height: 1;
}

.wrapper__form select {
    background: url(~/../src/assets/images/arrow-down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 93%;
    background-size: 12px;
    padding-left: 0.9rem;
}

.wrapper__form .form-control {
    font-size: 0.82rem;
    border-radius: 1.2rem;
    border: 1px solid var(--first-color);
    line-height: 1;
    height: 29px;
}
.wrapper__form .form-required {
    border: 1px solid var(--danger) !important;
}
.wrapper__form textarea.form-control {
    height: auto;
}

.wrapper__form .bton-second {
    padding: 0.2rem 1.5rem;
    font-size: 0.8rem;
}

.wrapper__form .bton-third {
    padding: 0 1.5rem;
    background: #B3B3B3;
    margin: 0 1rem;
    font-size: 0.8rem;
}

.small-info {
    font-size: 0.8rem;
    color: var(--first-color);
    padding: 0.1rem 0 0.5rem 0.5rem;
}

span.spacing {
    display: block;
    height: 1px;
    background: #AAA;
}

.detail__regimen {
    background: var(--second-color);
    border-radius: 1.3rem;
    color: var(--white-color);
    display: grid;
    grid-template-columns: repeat(3, 33%);
    line-height: 1.2;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}

.detail__row {
    margin: 0 0 0.5rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    grid-column-gap: 1%;
    font-size: 0.9rem;
}

.detail__row .table__header {
    color: var(--white-color);
    font-weight: 500;
    display: grid;
}

.detail__row .table__header li {
    padding: 0.6rem 1rem;
    margin-bottom: 0.1rem;
    background: var(--first-color);
}

.detail__row .table__items li {
    padding: 0.6rem 0.5rem 0.6rem 0.8rem;
    margin-bottom: 0.1rem;
    background: #E2EBED;
}
.detail__row .table__items  {
    display: grid;
}
.footer__inner {
    text-align: center;
    padding: 0 1.5rem 2rem;
    color: var(--second-color);
    font-size: 0.8rem;
}

.footer__inner a {
    color: var(--second-color);
}

.footer__inner .footer__left {
    padding-bottom: 1rem;
    line-height: 1;
}

.footer__inner .footer__right img {
    display: none;
}


/* Responsive Web */
@media screen and (min-width: 427px) {
    .titulo-form-icono{
        display: grid !important;
        grid-template-columns: 5% 80% 15%;
    }
}
@media screen and (min-width: 768px) {
    
    /* Login */
    .zone {
        background-image: url(~/../src/assets/images/bg_zona_segura_tablets.svg);
        background-size: 100%;
    }

    .main {
        border-radius: 1.2rem;
        box-shadow: 0px 0px 12px rgba(0,0,0, 0.25);
        padding: 4rem 8.5rem 3rem;
    }

    .wrapper__content {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .zone__content {
        padding: 1rem 6.8rem;
    }

    .alert__message {
        margin: 0 4rem 1.6rem;
        align-items: center;
    }
    
    .alert__message img {
        width: 40%;
        height: 40%;
        margin-right: 0;
    }
    
    .alert__message p {
        font-size: 0.84rem;
    }

    /* Páginas internas */
    .header__content p {
        margin: 2.5rem 0 2rem;
        font-size: 0.9rem;
    }

    .header__content .header__left .btn-menu {
        width: 32px;
        height: 32px;
    }
    
    .header__content .header__left .logo {
        width: 120px;
        margin-left: 1.5rem;
    }

    .header__content .header__right img {
        width: 40px;
        margin-right: 1rem;
    }

    .main {
        padding: 2.5rem 0 2rem;
    }

    .main__right h2 {
        padding: 0 3.2rem 2rem;
    }
    
    .detail {
        padding: 2rem 3.2rem 2rem;
    }

    .detail__user {
        grid-template-columns: 70% 30%;
    }

    .info__print img.print-movil {
        display: none;
    }

    .info__print img.print-desktop {
        width: 16px;
        margin-right: 0.3rem;
    }

    .info__print .bton-second {
        display: inline;
    }

    .detail .date__publish {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-top: 2rem;
        margin-bottom: 1.8rem;
    }
    .detail .date__publish-footer {
        display: grid;
        /*grid-template-columns: repeat(2, 50%);*/
        margin-top: 2rem;
        margin-bottom: 1.8rem;
        justify-content: start;
    }
    .detail .date__publish p {
        font-size: 0.8rem;
    }

    .detail .date__publish p:last-child {
        text-align: right;
    }

    .detail__page h3 {
        font-size: 1.1rem;
        margin-bottom: 1.3rem;
    }

    .detail__page p {
        font-size: 0.85rem;
        text-align: justify;
    }

    .detail__regimen {
        display: flex;
        margin-top: 2rem;
        font-size: 0.7rem;
        padding: 0.6rem 2rem;
        margin-bottom: 0.2rem;
    }

    .detail__regimen span {
        margin-right: 3.5rem;
    }

    .table__desktop {
        font-size: 0.8rem;
    }
    
    .table__desktop--header,
    .table__desktop--item {
        background: #6F9BA4;
        color: var(--white-color);
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 1.3rem;
        line-height: 1;
        margin-bottom: 0.2rem;
        text-align: center;
    }
    .table__desktop--item-2column {
        background: #6F9BA4;
        color: var(--white-color);
        display: grid; 
        grid-template-columns: 80% 20%;
        align-items: center;
        padding: 0.5rem 1rem;
        border-radius: 1.3rem;
        line-height: 1;
        margin-bottom: 0.2rem; 
    }
    .table__desktop--item,.table__desktop--item-2column {
        background: #E2EBED;
        color: var(--text-color);
        margin-bottom: 0;
    }

    .table__desktop--item img,.table__desktop--item-2column img {
        width: 13px;
    }

    .table__desktop--item:nth-child(odd), .table__desktop--item-2column:nth-child(odd) {
        background: white;
    }

    .label-policy {
        padding: 0.5rem 0 1.5rem;
    }
    
    /* Form */
    .wrapper__form {
        padding: 0 2rem;
    }

    .wrapper__form label {
        font-size: 0.95rem;
    }

    .wrapper__form .form-row div {
        margin-bottom: 1.2rem;
    }

    .wrapper__form .bton-second,
    .wrapper__form .bton-third {
        padding: 0.2rem 2.2rem;
        font-size: 0.94rem;
    }


    .footer__inner {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .footer__inner .footer__left {
        padding-bottom: 0.5rem;
    }

}

@media screen and (min-width: 1224px) {

    .wrapper__content {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .alert__message {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-bottom: 2rem;
        margin: 0 5rem 1.5rem;
    }
    
    .alert__message p {
        font-size: 0.9rem;
    }

    .zone__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 2.5rem 1rem;
    }

    .header__content {
        width: var(--max-width);
        margin-inline: auto;
        padding: 3rem 0 1.5rem;
    }

    .header__left .btn-menu {
        display: none;
    }

    .header__content .header__left .logo {
        margin-left: 0;
        width: 160px;
    }

    .header__right .menu__desktop ul {
        display: inline-block;
        background: transparent;
        position: relative;
        max-width: 100%;
        box-shadow: none;
    }

    .header__content .header__right {
        align-items: center;
        justify-content: flex-end;
    }

    .header__content .header__right ul li {
        display: inline-block;
    }

    .header__content .header__right ul li a {
        /* padding: 0 0 0 5rem; */
        color: var(--white-color);
        font-size: 1.1rem;
    }

    .header__content .header__right ul li a:hover {
        background-color: transparent;
    }

    .header__content .header__right ul li:first-child {
        border-bottom: 0;
    }

    /* .header__content .header__right ul li:last-child {
        padding-right: 2rem;
    } */

    .header__content .header__right img {
        width: 55px;
    }

    .header__content > p {
        padding-top: 2.5rem;
    }

    .wrapper__main {
        display: grid;
        grid-template-columns: 24% 73%;
        grid-column-gap: 3%;
        width: var(--max-width);
        margin-inline: auto;
        margin-bottom: 3rem;
    }

    .main {
        margin: 0;
    }

    .main__menu {
        display: block;
        background: var(--white-color);
        border-radius: 1.2rem;
        box-shadow: 0px 0px 12px rgb(0, 0, 0, 0.2);
        padding: 2.5rem 0 0;
    }

    .main__menu h2 {
        display: block;
        text-align: center;
    }

    .menu__side {
        padding: 1.2rem 1rem 1rem;
    }

    .menu__side .side__item {
        border-bottom: 1px solid #999;
        margin-bottom: 1.5rem;
    }

    .menu__side .side__item img {
        width: 18px;
        margin-right: 0.8rem;
    }

    .menu__side .side__item h3 {
        color: var(--first-color);
        font-size: 1rem;
        font-weight: bold;
        line-height: 1;
        display: flex;
        align-items: center;
        margin-bottom: 0.7rem;
    }

    .side__item ul {
        margin: 0;
        padding: 0 3rem 0 2rem;
        list-style: none;
        line-height: 1;
    }

    .side__item ul li {
        margin-bottom: 0.8rem;
    }

    .side__item ul li:last-child {
        margin-bottom: 1.2rem;
    }

    .side__item ul li a {
        display: block;
        color: var(--black-color);
        text-decoration: none;
    }

    .side__item ul li a:hover {
        color: var(--orange-color);
    }

    .side__item ul li a.activa {
        color: var(--orange-color);
        font-weight: bold;
    }

    .side__item:last-child {
        border-bottom: 0 ;
    }

    .text-xl {
        font-size: 2rem;
        margin-right: 0.5rem;
    }
    
    .text-light {
        font-size: 1rem;
        font-family: var(--webfont-light);
    }

    .footer__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        width: var(--max-width);
        margin-inline: auto;
        padding: 0 0 2rem;
        font-size: 1rem;
    }

    .footer__inner .footer__left,
    .footer__inner .footer__right {
        padding-bottom: 0;
    }

    .footer__inner .footer__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .footer__inner .footer__right img {
        display: block;
        width: 150px;
        margin-left: 10rem;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1799px) {

    .zone {
        background-image: url(~/../src/assets/images/bg_zona_segura_desktop.svg);
        background-size: 130%;
    }
}

@media screen and (min-width: 1800px) {

    .zone {
        background-image: url(~/../src/assets/images/bg_zona_segura_desktop.svg);
        background-size: 100%;
    }
}

/*---------------------------------
SELECT
*/

.form__right {
    color: var(--first-color);
}

.form__right a {
    color: var(--first-color);
}

.form__right a:hover {
    color: var(--second-color);
}

.form__right select,
.form__right .input-dni,
.form__right .input-clave {
    color: var(--first-color);
    font-size: var(--text-sm);
    width: 100%;
    margin-inline: auto;
    margin-bottom: 0.8rem;
    float: left;
}

.form__right select {
    background: url(~/../src/assets/images/arrow-down.png) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 93%;
    background-size: 12px;
    padding-left: 0.9rem;
    padding-right: 1.9rem;
}

.form__right .input-dni,
.form__right .input-clave,
.form__right .captcha input {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: none;
    border-radius: 0;
    margin-bottom: 1.1rem;
}

.form__right input::placeholder,
.form__right .input-login::placeholder,
.form__right .input-clave::placeholder {
    color: var(--first-color);
}

.form__right label {
    font-weight: bold;
}

.form__right .input-clave {
    background: var(--white-color);
    text-align: center;
}

.form__right .bton-first {
    width: 60%;
}

.form__right .form-control:focus {
    border-color: var(--first-color);
    -webkit-box-shadow: none;
    box-shadow: none;
}
 


/* Responsive Web */
@media screen and (min-width: 768px) {

  

    .form__right label {
        font-size: 1.1rem;
        text-align: left;
        width: 64%;
    }

    .form__right select {
        background-size: 13px;
        width: 14rem;
    }
    
    .form__right .input-dni,
    .form__right .input-clave {
        font-size: var(--text-md);
        width: 64%;
        margin-bottom: 1.5rem;
        text-align: left;
        padding-left: 0;
    }

   

    .form__right .bton-first {
        width: 80%;
    }

    

}

@media screen and (min-width: 1224px) {

  

    .form__left,
    .form__right {
        display: block;
        width: 50%;
        text-align: left;
    }

    

    .form__right {
        background: yellows;
        padding-right: 3rem;
    }

    .form__right select,
    .form__right .input-dni,
    .form__right .input-clave {
        font-size: var(--text-md);
        width: 100%;
        margin: 0 0 1.2rem;
    }

    .form__right select {
        width: 16rem;
        margin-bottom: 1.2rem;
    }

    .form__right input::placeholder,
    .form__right .input-login::placeholder,
    .form__right .input-clave::placeholder {
        font-size: var(--text-md);
    }

   

    .form__right .bton-first {
        width: 100%;
    }

     
}
.detail__row {
    margin: 0 0 0.5rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 49.5%);
    grid-column-gap: 1%;
    font-size: 0.8rem;
    text-align: left;
}

.detail__row li {
  min-height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  line-height: 1.1;
}
.detail__row
.table__min-height {
  min-height: 124px;
}
/* Responsive Web */
@media screen and (min-width: 320px) {

    .detail__row
    .table__min-height {
      min-height: 135px;
    }
  }

  .table .title-column{
    padding: .6rem 1rem;
    margin-bottom: .1rem;
    background: var(--first-color);
    color: white;
    width:50%;
    text-transform: uppercase;
}
.table .table__items_td{
    padding: .6rem .5rem .6rem .8rem;
    margin-bottom: .1rem;
    background: #e2ebed;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #fff;  

}

/*Cambibos para casilla electrónica*/
@media screen and (max-width: 1223px) {
    .main {
           margin-left: 0px;
            margin-right: 0px; 
            margin: 0 1.1rem 1.8rem;
       }

       .root-wrapper{
        display: contents !important;
        height:100vh;width:100vw;
        min-width:1200px;
        grid-template-rows:50px calc(100vh - 50px);grid-template-columns:17% 25% auto;grid-template-areas:"HEADER HEADER HEADER"
        "FOLDERS MAILLIST MAILBODY"}.root-header{grid-area:HEADER}.root-folders{grid-area:FOLDERS}.root-maillist{grid-area:MAILLIST}.root-mailbody{grid-area:MAILBODY}
        .header__content {
            display: grid;
            grid-template-columns: 45% 55%;
            justify-content: flex-start;
            color: var(--white-color);
            padding: 1.8rem 1.1rem 0;
        }

     
        .main2 { 
            margin-left: null;
            margin-right: null; 
            border-radius: 1.2rem;  
            background: var(--white-color); 
            box-shadow: 0 0 12px #0003; 
            padding: 2rem 1.5rem;  
            margin: 0 1.1rem 1.8rem;
            padding: 2rem 0 1rem;
            color: var(--text-color);
        }
      
}
@media screen and (min-width: 1224px) {
    .main {
        background-color: white;
        margin-left: -341px;
        margin-right: -24px; 
        
    }
    .header__content {
        display: grid; 
        grid-template-columns: 19% 82%;
        justify-content: flex-start;
        color: var(--white-color); 
    }
  
    .menu__desktop ul {
        position: absolute;
        /*jorgeposition: absolute;*/
        top: 0%;
        right: 0;
        box-shadow: 0px 0px 12px rgba(0,0,0, 0.4);
        /*max-width: 160px;*/
        z-index: 999;
    }
    .main2 {
       /*background-color: white;*/
       margin-left: null;
       margin-right: null; 
       border-radius: 1.2rem; 
       
       background: var(--white-color); 
       box-shadow: 0 0 12px #0003;  
       padding: 2rem 1.5rem; 
       padding: 2rem 0 1rem;
       color: var(--text-color);
       margin: 0; 
    }
}
