 .list-group-item {
   text-align: justify;
   position: relative;
  padding-left: 40px !important;

 }
 ul.list-group {
   list-style-type: none;
   /* Quitar el estilo de lista por defecto */
   padding-left: 0;
 }
     ul.list-group li {
       position: relative;
       padding-left: 20px;
       /* Espacio para el guion */
     }
ul.list-group li::before {
  content: "-";
    /* Agregar un guion antes de cada elemento */
    position: absolute;
    left: 15px;

}

 ul.list-group-item li p {
   margin: 0;
   /* Quitar márgenes del párrafo */
   text-indent: -20px;
   /* Evitar indentación del texto */
   padding-left: 20px;
   /* Alineación del texto después del guion */
 }
