<!-- <div class="modal" style="display:block">
  <div class="modal-dialog modal-dialog-centered popup__wrapper" role="document">
    <div class="modal-content zona__popup">
      <div class="modal-header">
        <h5 class="modal-title">
          <img src="~/../../../../assets/images/icon-user.svg" alt="User">
          COMUNICADO
        </h5>
      </div>
      <div class="modal-body">
         <div class="row">
          <div class="col-12">
            <p>Estimados le informamos que en concordancia con lo establecido en el Decreto supremo Nº 354-2020-EF</p>

            <ul class="list-group">
              <li class="list-group-item">- Si eres asegurado obligatorio: Los aportes a pagar aplican en caso usted desee efectuar <b>pagos de manera facultativa</b>, para acumular aportes en el Sistema Nacional de Pensiones. </li>
              <li class="list-group-item">- Si eres ex aportante: Los aportes a pagar aplican solo en el caso que desee efectuar aportes en la condicion de facultativo independiente.</li>

            </ul>
          </div>

         </div>
         <br/>
         <div class="form-row no-gutters">


              <div  style="padding-bottom: 10px;" class="col-lg-3 col-md-3  d-flex justify-content-center">&nbsp;</div>
               <div style="padding-bottom: 10px;"   class="col-lg-6 col-md-6 d-flex justify-content-center">
                <button style="width: 80%;"  type="button" (click)="llamarFuncion()"    class="bton bton-second">Aceptar</button>
               </div>
               <div  style="padding-bottom: 10px;" class="col-lg-3 col-md-3  d-flex justify-content-center">&nbsp;</div>

          </div>

      </div>
    </div>
  </div>
</div> -->
<div class="modal" style="display:block">
  <div class="modal-dialog modal-dialog-centered popup__wrapper" role="document">
    <div class="modal-content zona__popup">
      <div class="modal-header">
        <h5 class="modal-title">
          <img src="~/../../../../assets/images/icon-user.svg" alt="User">
          COMUNICADO
        </h5>
      </div>
      <div class="modal-body">
         <!-- <img src="~/../../../../assets/images/icon-check.png" alt="Check">-->
         <div class="row">
          <div class="col-12">
            <p>Afiliado</p>

            <ul class="list-group">
              <li class="list-group-item">Si aportas como independiente, realiza el pago de tus aportes facultativos a través de la opción "Aportes Facultativos". </li>
              <li class="list-group-item">Si dejaste de aportar de forma obligatoria (tuviste un empleador), tus aportes no se pierden, puedes seguir aportando usando la opción de "Aportes Facultativos". No necesitas hacer  ningún  trámite adicional.
              </li>
              <li class="list-group-item">Además, tienes la opción de mejorar tu futura pensión realizando Aportes Facultativos Adicionales, en caso aportes de forma obligatoria (tienes un empleador).
              </li>
            </ul>
          </div>



         </div>
         <div class="row">
          <div class="col-12" style="text-align:center ;">
            <br>
            Cualquier consulta, llama en ONP Te escucha (01) 634 2222 de lunes a viernes de 8:00 a.m. a 5:30 p.m.
          </div>

        </div>
         <br/>
         <div class="form-row no-gutters">


              <div  style="padding-bottom: 10px;" class="col-lg-3 col-md-3  d-flex justify-content-center">&nbsp;</div>
               <div style="padding-bottom: 10px;"   class="col-lg-6 col-md-6 d-flex justify-content-center">
                <button style="width: 80%;"  type="button" (click)="llamarFuncion()"    class="bton bton-second">Aceptar</button>
               </div>
               <div  style="padding-bottom: 10px;" class="col-lg-3 col-md-3  d-flex justify-content-center">&nbsp;</div>

          </div>

      </div>
    </div>
  </div>
</div>
